
    
.about-path-scss {
    position: absolute;
    right: -70px;
    top: 270px;

    .path3 {
        position: relative;
        top: -91px;
        left: 36px;
        margin-top: 60px;
        padding-top: 30px;

    }

    //     .path4{
    // margin-top:30px;
    // position: absolute;
    // top: 2879px;
    // left: 3px;
    //     }

}